@{
    ViewBag.Title = "Index";
}
@section CssStyle{
    <link href="https://code.highcharts.com/css/highcharts.css" />
    <style type="text/css">
        #container { height: 500px; width: 800px; margin: 0 auto; }
        .highcharts-data-label-box { fill: #a4edba; stroke: gray; stroke-width: 1px; }
        .highcharts-data-label { font-weight: normal; }
        .highlight .highcharts-data-label-box { fill: red; stroke-width: 2px; stroke: black; }
        .highlight.highcharts-data-label text { font-weight: bold; fill: white; }
    </style>


}

<div class="body stop-float-body clearfix">

    <div class="not-container page-main">
        <div class="on">
            @*<div id="example-26" class="ma5slider anim-horizontal outside-dots center-dots inside-navs loop-mode">
                    <div class="slides">
                        <a href="#slide-1"><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt=""></a>
                        <a href="#slide-2"><img src="@Url.Content("~/Content/images/slideshow_image_1-min-rs.jpg")" alt=""></a>
                        <a href="#slide-3"><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt=""></a>
                    </div>
                </div>*@
            <!-- snippet location home_content -->
        </div>
        <div class="main full">
            <div class="on row">
                @*<div class="col-lg-2-4 col-md-12 col-sm-12 col-xs-12 block-product-left">
                        <div class="block_left">
                            <div class="page-subheading ">
                                <p class="title--main">Women</p>
                                <p class="title--sub">
                                    <span>Shop The Look</span>
                                </p>
                            </div>
                            <div class="effect_image_3">
                                <div class="effect-img">
                                    <img src="~/Content/images/img-cate-min.jpg" alt="Women" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">
                    <h2 class="page-heading">@Resources.RepresentationMyOnWorld</h2>
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
</div>
@section Javascripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://code.highcharts.com/maps/js/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    <script type="text/javascript">
        $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=world-population-density.json&callback=?', function (data) {

            var countryData = [{
                "key": "in",
                "index": 2
            }, {
                "key": "us",
                "index": 2
            }];

            var pointData = [{
                "countryCode": "in",
                "site_id": 3,
                "center_count": 2,
                "location": "(Ahmedabad,India,APAC)",
                "headcount": 600,
                "lat": 23.022505,
                "lon": 72.5713621
            }, {
                "countryCode": "us",
                "site_id": 4,
                "center_count": 2,
                "location": "(Arcadia,Greece,EMEA)",
                "headcount": 700,
                "lat": 34.1397292,
                "lon": -118.0353449
            }];

            // Initiate the chart
            Highcharts.mapChart('container', {
                title: {
                    text: 'Test map'
                },
                tooltip: {
                    enabled: true
                },
                mapNavigation: {
                    enabled: true
                },
                series: [{
                    mapData: Highcharts.maps["custom/world"],
                    data: countryData,
                    joinBy: ['hc-key', 'key'],
                    name: "Country Info",
                    states: {
                        hover: {
                            color: "#00b700"
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}'
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return this.point.name;
                        },
                        borderRadius: 2,
                        y: -10,
                        shape: 'callout',
                        className: 'highlight'
                    },
                    point: {
                        events: {
                            click() {
                                console.log("Code : ", this.key)
                            }
                        }
                    }
                }, {
                    type: 'mappoint',
                    mapData: Highcharts.maps["custom/world"],
                    data: pointData,
                    name: 'Point Info',
                    states: {
                        hover: {
                            color: "#abb700"
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.location}'
                    },
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return this.point.name;
                        }
                    },
                    point: {
                        events: {
                            click() {
                                console.log("Code : ", this.options.countryCode)
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'bottom'
                    }
                }]
            });
        });
    </script>
}
