@{
    ViewBag.Title = "Index";
}
@section CssStyle{
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>#map { height: 600px; }</style>
}

<div class="body stop-float-body clearfix">

    <div class="not-container page-main">
        <div class="on">
        </div>
        <div class="main full">
            <div class="on row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">
                    <h2 class="page-heading">@Resources.RepresentationMyOnWorld</h2>
                    <div id="container">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
</div>
@section Javascripts{
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript">
        var map = L.map('map').setView([29.6760859, 52.4950737], 3);
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }).addTo(map);
        var marker = L.marker([29.623116, 52.497856]).addTo(map);
        marker.bindPopup("باغ عفیف آباد", { closeOnClick: false, autoClose: false }).openPopup();
        marker = L.marker([34.71649, 65.89456]).addTo(map);
        marker.bindPopup("نمایندگی افغانستان", { closeOnClick: false, autoClose: false }).openPopup();
    </script>
}
