
@{
	ViewBag.Title = "تگ‌ها";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<div class="page-content">
	<!-- BEGIN PAGE HEADER-->
	<!-- BEGIN PAGE BAR -->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<a href="@Url.Action(MVC.Admin.Dashboard.Index())">داشبورد</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a href="#">مطلب</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<span>تگ‌ها</span>
			</li>
		</ul>
	</div>
	<!-- END PAGE BAR -->
	<!-- BEGIN PAGE TITLE-->
	<h1 class="page-title">
		j'2ih
		<small>blank page layout</small>
	</h1>
	<!-- END PAGE TITLE-->
	<!-- END PAGE HEADER-->
	<div class="note note-info">
		<p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>
	</div>
</div>

